mixin flight-info(aircraftID, flightID, airplaneName, data)
  .flight-card
    .row
      .col.no-gutters.flight-body.w100
        .row
          .row.vertical-center.title
            h6.m0 #{flightID}
            i.separater.fas.fa-angle-right.text-muted
            span.aircraft-name.text-muted #{airplaneName}
          .like-flight.text-muted
            i.fas.fa-minus
        .row
          table
            tr
              td
                | Город вылета:
              td.city-1 #{data.city1}
              td
                | Город назначения:
              td.city-2 #{data.city2}
            tr
              td
                | Аэропорт вылета:
              td.aitport-1 #{data.airport1}
              td
                | Аэропорт назначения:
              td.aitport-2 #{data.airport2}
            tr
              td
                | Дата вылета:
              td.date-1 #{data.date1}
              td
                | Время прилета:
              td.time-1 #{data.time1}
            tr
              td
                | Время вылета:
              td.time-2 #{data.time2}
        .row.justify-content-between
          h5.m0.variety
            | Вероятость:
            span.data-variety #{data.variety}%
          h5.m0.price
            | Стоимость:
            span.data-price #{data.price}
              i.fas.fa-ruble-sign
