mixin flight-card(aircraftID, flightID, airplaneName, data)
  .flight-card
    .row
      .col.no-gutters.aircraft-photo
        img(src="img/aircrafts/aircraft-" + aircraftID + ".jpg", alt="Aircraft")
      .col.no-gutters.flight-body
        .row
          .row.vertical-center.title
            h6.m0 #{flightID}
            i.separater.fas.fa-angle-right.text-muted
            span.aircraft-name.text-muted #{airplaneName}
          .like-flight.text-muted
            i.fas.fa-plus
        .row
          table
            tr
              td
                | Дата вылета:
              td.date-1 #{data.date1}
              td
                | Время прилета:
              td.time-1 #{data.time1}
            tr
              td
                | Время вылета:
              td.time-2 #{data.time2}
              td
                | Время в пути:
              td.time-3 #{data.time3}
        .row.justify-content-between
          h5.m0.variety
            | Вероятость:
            span.data-variety #{data.variety}%
          h5.m0.price
            | Стоимость:
            span.data-price #{data.price}
              i.fas.fa-ruble-sign
          input.small.m0(type="button", value="Бронировать")
