mixin booking-card(bookingCode, data)
  .booking-card
    .col.no-gutters.booking-body
      .row
        h6 #{bookingCode}
      .row
        table
          tr
            td
              | Дата вылета:
            td.date-1 #{data.date1}
            td
              | Аэропорт вылета:
            td.airport-1 #{data.airport1}
          tr
            td
              | Время вылета:
            td.time-1 #{data.time1}
            td
              | Аэропорт прилета:
            td.airport-2 #{data.airport2}
          tr
            td
              | Время прилета
            td.time-2 #{data.time2}
